/Anvsoft
/bleh.htm
/burk.htm
/Custom Office Templates
/custom.htm
/Database1.accdb
/desktop.ini
/drake.css
/DRAKE.HTML
/drakes actual cv.docx
/DRAKES CV.docx
/DRAKES TO DO LIST
/DRAKES TO DO LIST.HTML
/index.htm
/index.html
/index.html1.txt
/My Data Sources
/nostalgia.css
/project.htm
/README.md
/recreate 2.css
/SELF CLOSING TAG.HTML
/test.html
/test3.html
/TO DO LIST 2.HTML
/to do list.css
/TO DO LIST.HTML